.header{
	height: 40px;
	top: 0px;
	z-index: 1;
}
.bian{
	background-color: rgba(0, 0, 0, .6) !important;
}
.header a{
	line-height: 40px;
}
a:hover{
	text-decoration: none;
}
.header a:hover{
	color: #999 !important;
}
.main_font{
  top: 35%;
  left: 40%;
}
@keyframes font_move{
	from{
		transform: translateY(-500px);
	}
	50%{
		transform: scale(1.5);
	}
	to{
		transform: translateY(0px);
	}
}
.font_move{
	animation: font_move 2s ease;
}
.login_form{
  background: transparent none repeat scroll 0 0;
  box-shadow: 0 0 6px rgba(0,0,0,.1);
  padding: 80px;
}
.login_reg_head>a.n1>span{
  color: #4fb68d !important;
}
.w-60{
	width: 60%;
}
.col-6>.row>.col-3>li a.text-muted:hover{
	color: #4fb68d !important;
}