.header{
	height: 40px;
	top: 0px;
	z-index: 1;
}
.bian{
	background-color: rgba(0, 0, 0, .6) !important;
}
.header a{
	line-height: 40px;
}
a:hover{
	text-decoration: none;
}
.header a:hover{
	color: #999 !important;
}
.main_font{
  top: 150px;
  left: 100px;
}
@keyframes font_move{
	from{
		transform: translateY(-500px);
	}
	50%{
		transform: scaleX(1.8);
	}
	to{
		transform: translateY(0px);
	}
}
.font_move{
	animation: font_move 2s ease;
}
.w-60{
	width: 60%;
}
.col-6>.row>.col-3>li a.text-muted:hover{
	color: #4fb68d !important;
}